.btn {
  margin-right: 0.5em;
}

.previwer {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(125, 125, 125, 0.5);
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: aliceblue;
  text-shadow: 5px 4px 4px rgb(171 13 13);
  font-family: 'Shizuru', cursive;
}
.btn {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  text-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  // backdrop-filter: blur(15px);
  color: aliceblue;
}
.btn[type='submit']:disabled {
  color: black;
  opacity: 0.35;
}
// .btn-dark {
//   color: aliceblue;
//   box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
//   border-top: 1px solid rgba(255, 255, 255, 0.5);
//   border-left: 1px solid rgba(255, 255, 255, 0.5);
// }
.btn-dark[type='button']:disabled {
  color: black;
  opacity: 0.7;
}

.container {
  width: 850px;
  padding: 1em 0.5em;
  margin-bottom: 2em;
  background: rgba(26, 25, 25, 0.4);
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 65%);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid #363636;
  border-bottom: 1px solid #363636;
  // backdrop-filter: blur(5px);
}
.form-check {
  color: aliceblue;
  text-shadow: 4px 4px 5px rgb(0 0 0 / 50%);
  text-align: center;
  font-size: 15px;
  height: 2.5em;
  line-height: 2.5em;
  font-family: 'Shizuru','Noto Sans TC', sans-serif;
}
.form-check-input {
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-frame {
  padding: 1em;
  display: flex;
  width: fit-content;
  margin: auto;
  background: rgb(20 19 19 / 58%);
  border-radius: 15px;
  box-shadow: 7px 5px 8px rgb(0 0 0 / 40%);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid #363636;
  border-bottom: 1px solid #363636;
  // backdrop-filter: blur(5px);
}
.form-control {
  background: rgb(0 0 0 / 52%);
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 0;
  border-top: 1px solid #363636;
}
.input-group-text {
  background: rgb(0 0 0 / 52%);
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 0;
  border-left: 1px solid #363636;
  border-top: 1px solid #363636;
}
.crystal-btn {
  background-color: unset;
  position: relative;
  width: 80%;
  height: 2.5rem;
  border: 0;
  border-radius: 30px;
  a {
    position: absolute;
    font-size: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    z-index: 1;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
  }
  a:hover {
    font-size: 1.1rem;
    letter-spacing: 5px;
  }
  a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),transparent);
    transform: skew(45deg) translateX(0);
    transition: 0.5s;
  }
}
.crystal-btn a::before {
  transform: skew(45deg) translateX(200%);
}
.crystal-btn::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.crystal-btn::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.crystal-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.crystal-btn::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

// .crystal-btn:nth-child(2)::before, .crystal-btn:nth-child(2)::after {
//   background: #ff1f71a7;
//   box-shadow: 0 0 5px #ff1f71a7,0 0 15px #ff1f71a7,0 0 30px #ff1f71a7,0 0 60px #ff1f71a7;
// }

.green-light::before, .green-light::after {
  background: #1eff45;
  box-shadow: 0 0 5px #1eff45,0 0 15px #1eff45,0 0 30px #1eff45,0 0 60px #1eff45;
}
.dark-light::before, .dark-light::after {
  background: #000000;
  box-shadow: 0 0 5px #000000,0 0 15px #000000,0 0 30px #000000,0 0 60px #05181c;
}

.green-light:disabled {
  background-color: #1eff457d;
  width: 80%;
  height: 2.5rem;
}
.dark-light:disabled {
  background-color: #0000007d;
  width: 155px;
  height: 50px;
  margin: 20px;
}
.disabled-btn {
  color: gray;
  position: relative;
  border: 0;
  border-radius: 30px;
}